In [1]:
import pandas as pd



df23 = pd.read_excel(r"C:\Users\ResTIC16\Documents\registro_atendimento_2023.xlsx")
df24 = pd.read_excel(r"C:\Users\ResTIC16\Documents\registros_2024.xlsx")
df25 = pd.read_excel(r"C:\Users\ResTIC16\Documents\registros_2025.xlsx")

perfil = pd.read_excel(r"C:\Users\ResTIC16\Documents\perfil_clienteV2.xlsx")


for df in [df23, df24, df25, perfil]:
    df["ID_CLIENTE"] = df["ID_CLIENTE"].astype(str).str.strip()



atendimentos = pd.concat([df23, df24, df25], ignore_index=True)

print("Total de atendimentos:", len(atendimentos))



df_final = atendimentos.merge(
    perfil,
    on="ID_CLIENTE",
    how="inner"   
)

# ===========================
# 5. Exportar planilha final
# ===========================

df_final.to_excel(r"C:\Users\ResTIC16\Documents\dataset3_final.xlsx", index=False)

df_final.head()

Total de atendimentos: 1044537

,ID_CLIENTE,SITUACAO,ULTIMO_CORTE_INAD,ULTIMO_CANCELAMENTO,DATA_REGISTRO,HORA_REGISTRO,CODIGO,PROTOCOLO,CANAL,ATENDENTE,...,OBS_BAIXA,Unnamed: 30,GENERO,IDADE_APROX,MESES,TICKET_MEDIO,SERVICO,BAIRRO_y,CIDADE_y,PROFISSAO
0,68064,LIGADO,NaN,NaN,2023-01-01 00:00:00,10:12:11,6752632,6108266,TELEFONE,BERNARDO SOUSA,...,Téc Ramilo 01.01 ás 15:42 Feito troca de ONU...,NaN,M,75.0,135,79.538444,INTERNET,TURU,SÃO LUÍS,NaN
1,73191,LIGADO,NaN,NaN,2023-01-01 00:00:00,10:38:21,6752635,6108269,TELEFONE,BERNARDO SOUSA,...,NaN,NaN,F,42.0,107,83.410654,TRIPLE PLAY,COHATRAC V,SÃO LUÍS,OUTROS
2,27446,LIGADO,NaN,NaN,2023-01-01 00:00:00,11:34:01,6752640,6108274,TELEFONE,BERNARDO SOUSA,...,tec : Abner 02/01 09:30 Verificado sistem...,NaN,M,72.0,149,112.657718,TV + INTERNET,COHAMA,SÃO LUÍS,NaN
3,104498,LIGADO,NaN,NaN,2023-01-01 00:00:00,11:43:22,6752642,6108276,TELEFONE,VITORIA RAYANNE,...,NaN,NaN,F,32.0,87,89.096667,INTERNET,CUTIM,SÃO LUÍS,ESTUDANTE
4,64623,LIGADO,NaN,NaN,2023-01-01 00:00:00,11:51:57,6752643,6108277,TELEFONE,BERNARDO SOUSA,...,NaN,NaN,M,45.0,145,215.164690,TRIPLE PLAY,CUTIM,SÃO LUÍS,NaN